@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #d0bdf4
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

:root {
    --primary-color: #ff3c78;
    --light-black: rgba(0, 0, 0, 0.89);
    --black: #000;
    --white: #fff;
    --grey: #aaa;
}

.best-seller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-seller .red {
    color: var(--primary-color);
    cursor: pointer;
}

.best-seller .blue {
    color: #8989ce;
    cursor: pointer;
}

.best-seller .white {
    color: var(--light-black);
    cursor: pointer;
}

.best-seller .grey {
    color: grey;
    cursor: pointer;
}

.best-seller .brown {
    color: rgb(175, 53, 53);
    cursor: pointer;
}

.best-seller .green {
    color: #008000;
    cursor: pointer;
}

.seller h2 {
    margin-top: 65px;
    margin-bottom: 20px;
}

.seller .best-p1 {
    width: 200px;
    height: 370px;
    /* border: 2px solid black; */
}

.seller .best-p1 img {
    height: 250px;
    width: 200px;
}

.seller .best-p1 .price {
    display: flex;
    justify-content: space-between;
}

.best-seller .buy-now a {
    text-decoration: none;
    color: var(--white);
}

.seller a:hover {
    color: #f05e8a;
}

.best-seller .buy-now button {
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #295a8d;
    color: var(--white);
    border: none;
    border-radius: 15px;
    font-weight: 500;
    transition: 0.5s;
}

.best-seller .buy-now button:hover {
    background-color: var(--white);
    font-weight: 600;
}

.best-seller .buy-now button:hover a {
    color: #f05e8a;
}
footer{
    background-color: #ffffff;
}


@media (max-width: 500px) {
    .best-seller {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .best-seller img {
        padding-top: 40px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .best-seller {
        display: flex;
        flex-direction: column;
    }
    .best-seller img {
        padding-top: 40px;
    }
}